[submodule "pack/submodules/start/vim-vinegar"]
	path = pack/submodules/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/submodules/start/vim-surround"]
	path = pack/submodules/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/submodules/start/vim-fugitive"]
	path = pack/submodules/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/submodules/start/vim-gitgutter"]
	path = pack/submodules/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/submodules/start/vim-commentary"]
	path = pack/submodules/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/submodules/start/papercolor-theme"]
	path = pack/submodules/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
