[submodule "pack/submodules/start/vim-vinegar"]
	path = pack/submodules/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/submodules/start/vim-surround"]
	path = pack/submodules/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/submodules/start/vim-fugitive"]
	path = pack/submodules/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/submodules/start/vim-gitgutter"]
	path = pack/submodules/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/submodules/start/vim-commentary"]
	path = pack/submodules/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/submodules/start/tagbar"]
	path = pack/submodules/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/submodules/start/ultisnips"]
	path = pack/submodules/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/submodules/start/fzf.vim"]
	path = pack/submodules/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/submodules/start/vim-easy-align"]
	path = pack/submodules/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/submodules/start/coc.nvim"]
	path = pack/submodules/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "pack/submodules/start/vim-rhubarb"]
	path = pack/submodules/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "pack/submodules/start/vim-repeat"]
	path = pack/submodules/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/submodules/start/vim-dadbod"]
	path = pack/submodules/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/submodules/start/vim-endwise"]
	path = pack/submodules/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/submodules/start/vim-eunoch"]
	path = pack/submodules/start/vim-eunoch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/submodules/start/vim-jdaddy"]
	path = pack/submodules/start/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "pack/submodules/start/vim-speeddating"]
	path = pack/submodules/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "ultisnip-snippets"]
	path = ultisnip-snippets
	url = https://github.com/mbmjensen/ultisnip-snippets
